<div class="card-host-wrapper">
    <div class="content card-area" 
      (clickx) ="clickCardHost()">
        card-host works!
      </div>
  <!-- <div class="nw">nw</div>
  <div class="nnw">nnw</div>
  <div class="ne">ne</div>
  <div class="nne">nne</div>
   -->
  <div class="n">n</div>
  <div class="wnw">wnw</div>
  <div class="ene">ene</div>

  <div class="w">w</div>
  <div class="e">e</div>

  <div class="wsw">wsw</div>
  <div class="ese">ese</div>

  <div class="sw">sw</div>
  <div class="ssw">sww</div>
  <div class="s">s</div>
  <div class="sse">sse</div>
  <div class="se">se</div>
</div>
